{% extends "tests/test_base.html" %}

{# include the ko script here. #}

{% block content %}
    <div id="mvpost" data-bind="template:{name:'t2'}"></div>
    {% include "movepost.html" %}
{%endblock%}

{# include the test initialization script here. #}
{%block javascript %}
    function init() {
        var post = new ZenPost();
        var MovePostViewModel = function(post) {
            this.post = post;
        };
     
        var view_model = new MovePostViewModel(post);
     
        ko.applyBindings(view_model, $('#mvpost')[0]);    
    }
    $(document).ready(init);
{%endblock%}