{% extends "tests/test_base.html" %}

{# include the ko script here. #}

{% block content %}
    <div id="mvpost" data-bind="template:{name:'pg1'}"></div>
    {% include "movepost.html" %}
{%endblock%}

{# include the test initialization script here. #}
{%block javascript %}
    function init() {
        window.zenApp = new ZenApp();
        
        var post = window.zenApp.makeMovePost();
        var view_model = new MovePostViewModel(post);

        ko.applyBindings(view_model);    
    }
    $(document).ready(init);
{%endblock%}