<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    {# CSS Definitions #}    
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,700italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/base.css">
	<link rel="stylesheet" href="/css/skeleton.css">
	<link rel="stylesheet" href="/css/layout.css">
	<link rel="stylesheet" href="/css/load.css">
	<link rel="stylesheet" href="/css/keyframes.css">
	<link rel="stylesheet" href="/css/zebra_datepicker.css">
	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/img/favicon.ico">
	<link rel="apple-touch-icon" href="/img/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">
    {# Default script includes#}
    <script src="/js/jquery-1.9.1.js"></script>
	<script src="/js/jquery.tagsinput.min.js"></script>
	<script src="/js/jquery-transit.js"></script>
	<script src="/js/underscore.js"></script>
    <script src="http://www.parsecdn.com/js/parse-1.2.1.js"></script>
	<script src="/js/knockout-2.2.1.js"></script>
    <script src="/js/knockback.js"></script>
	<script src="/js/zmmodels.js"></script>	
	<script src="/js/zmviews.js"></script>	
	{%block head%}
	{%endblock%}
</head>
<body>
	<div class="body-bg"></div>
	<!-- Primary Page Layout
	================================================== -->
	<div id="main">
		<div class="header">
			<div class="container">
				<a class="main-logo-link" href="#/home"><img class="main-logo" src="/img/z-logo.png" /></a>
				<div class="top-right-nav">
					<ul>
						<!-- ko ifnot:window.zenApp.curuser -->
						<li><a href="#/how-it-works">How It Works</a></li>
						<li><a href="#/signup">Signup</a></li>
						<li><a href="#/login">Login</a></li>
						<!-- /ko -->
						<!-- ko if:window.zenApp.curuser -->
						<li><a href="#/user-dashboard/hired">My Profile</a></li>
						<li><a href="javascript:window.zenApp.logout()">Logout</a></li>
						<!-- /ko -->
					</ul>
				</div>
				<div class="h-cog off"></div>
			</div>
		</div>
		<div class="container body-wrap" id="container"> <!-- container body start -->
			<div class="clear header-end"></div>
			<div class="page-body" id="content"> <!-- Append body content here -->
			{% block content %}{% endblock %}
			</div> <!-- End page body -->
		</div>

		<div class="footer"> <!-- Start Footer -->
			<div class="container">
				<div class="footer-inner">
					<ul class="social-links">
						<li><a href="#/user-dashboard/hired"><img src="/img/facebook.png" /></a></li>
						<li><a href="#/helper-dashboard"><img src="/img/twitter.png" /></a></li>
					</ul>
					<ul class="f-links">
						<li><a href="#/home">Home</a></li>
						<li><a href="#/about-us">About Us</a></li>
						<li><a href="#/how-it-works">How It Works</a></li>
						<li><a href="#/faq">FAQ</a></li>
						<li><a href="#/privacy">Privacy Policy</a></li>
						<li><a href="#/terms">Terms & Conditions</a></li>
						<li><a href="#/contact-us">Contact Us</a></li>
					</ul>
				</div>
			</div>
		</div> <!-- End Footer -->
	</div>
	    
    <script type="text/javascript">
    {% block javascript %}
    
    {%endblock %}
    </script>
	<script src="/js/zenmove.js" type="text/javascript"></script>
</body>
